# Data Science Tools and Ecosystem

***Objectives:***
* List popular languages for Data Science.
* List popular tools for Data Science.
* List popular Cloud Based tools for Data Science.

___In this notebook, Data Science Tools and Ecosystem are summarized.___

Some of the popular languages that Data Scientists use are:
1. Python
2. R programming
3. SQL
4. Scala
5. Java
6. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. matplotlib
4. seaborn
5. keras
6. bigdl

|Data Science Tools|
|------------------|
|Jupyter|
|Anaconda|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python
* 1+2=3
* 2*3=6
* 4-2=2
* 12รท3=4

In [2]:
# This a simple arithmeticexpression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes tohours by diving by 60
hours=200/60
hours

3.3333333333333335

## Author 
Umamaheswaran V